@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');
html{
  scroll-behavior: smooth;
}
*{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.cursor{
  z-index: 1;
  background-color: lightseagreen;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: 50%;
  box-shadow: 0 0 20px lightseagreen,
              0 0 60px lightseagreen,
              0 0 100px lightseagreen;
  animation: colors 5s infinite;
  animation-delay: 0ms;
  transform: translate(-50%, -50%);
  display: none;
}
@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.cursor:before{
  content: '';
  position: absolute;
  background: lightseagreen;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
.navbar{
    width: 100%;
    height: 58px;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(132, 132, 146);
    position: fixed;
    top: 0;
    z-index: 2;
}
li {
     float: left;
     margin-top: 6px;
     margin-left: 50px;
     font-size: 24px;
     font-family: 'Oxygen', sans-serif;
  }
ul {
    display: block;
    padding: 8px;
    list-style: none;
    position: absolute;
  }  

.navbar a{
  color: white;
}
a:link{
  text-decoration: none;
}
a:hover{
  color: rgb(62, 62, 111);
}
section:nth-child(odd){
  background-color: white
}
.main{
  height: 100vh;
  background-color: rgb(2, 2, 28);
}
.front{
  margin-left: 250px;
  width: 60%;
  margin-top: 170px;
  font-size: 50px;
  padding: 2px;
  position: absolute;
  height: 120px;
  font-weight: bolder;
  color: white;
  font-family: 'Oxygen', sans-serif;
}
.name{
  color: lightseagreen;
  font-size: 65px;
}
.introline{
  font-family: 'Oxygen', sans-serif;
  margin-left: 250px;
  position: absolute;
  width: 60%;
  margin-top: 330px;
  color: white;
  height: 50px;
  font-size: 33px;
  font-weight: bold;
}
.moreintro{
  margin-left: 250px;
  font-family: 'Assistant', sans-serif;
  width: 58%;
  color: white;
  position: absolute;
  margin-top: 400px;
  height: 120px;
  font-size: 23px;
  font-weight: 500;
  text-align: justify;
}
.heading1{
  font-size: 38px;
  margin-left: 250px;
  margin-top: 30px;
  font-family: 'Karla', sans-serif;
  height: 40px;
  width: 40%;
  text-transform: uppercase;
}
.main-btn button{
  position: absolute;
  margin-top: 540px;
  margin-left: 250px;
  font-size: 20px;
  font-weight: bold;
}
.btn{
  background-color: rgb(245, 247, 250);
  border: 2px;
  border-radius: 50px;
  color: rgb(17, 36, 72);
  padding: 8px 10px;
  cursor: pointer;
  font-size: 20px;
}
.btn:hover {
  background-color: rgb(25, 41, 90);
  color: white;
}
.aboutme{
  position: absolute;
  margin-top: 30px;
}
.aboutpage{
  font-size: 18px;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 250px;
  width: 40%;
  height: 250px;
  text-align: justify;
  font-family: 'Assistant', sans-serif;
  border: 5px;
}
.about-stats{
  padding-bottom: 2rem;
  margin-top: 2px;
}
.stat-title{
  margin-left: 250px;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  position: relative;
}
.prog-title{
  margin-left: 250px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Assistant', sans-serif;
}
.progress{
  width: 35%;
  height: .50rem;
  margin-left: 250px;
  position: relative;
  margin-top: 2px;
  background-color: rgb(199, 186, 186);
  border: 1px solid;
}
.html{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(2, 2, 28);
  transition: all .4s ease-in-out;
  width: 95%;
}
.CSS{
  width: 85%;
  position: absolute;
  background-color: rgb(2, 2, 28);
  height: 100%;
}
.JavaScript{
  width: 80%;
  position: absolute;
  background-color: rgb(2, 2, 28);
  height: 100%;
}
.MongoDB{
  width: 70%;
  position: absolute;
  background-color: rgb(2, 2, 28);
  height: 100%;
}
.C{
  width: 85%;
  position: absolute;
  background-color: rgb(2, 2, 28);
  height: 100%;
}
.AWS{
  width: 85%;
  position: absolute;
  background-color: rgb(2, 2, 28);
  height: 100%;
}
.second{
  display: flex;
  height: 100vh;
  justify-items: center;
  position: relative;
}
.mypic{
  position: relative;
  margin-top: 150px;
  margin-left: 125vh;
  height: 450px;
  border: 3px solid;
}
.mypic img{
  height: 450px;
  width: 340px;
  padding-bottom: 5px;
}
.third{
  background-color: rgb(2, 2, 28);
  display: flex;
  height: 100vh;
}
.stat2-title{
  color: white;
  margin-top: 50px;
  margin-left: 560px;
  height: 40px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  position: absolute;
}
.overlay{
  color: white;
  margin-top: 35px;
  margin-left: 480px;
  height: 30px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  position: absolute;
  z-index: 0;
  color: rgb(142, 139, 139);
  opacity: 0.18;
}
.timeline{
  margin-top: 160px;
  margin-left: 500px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1px;
  padding-bottom: 2rem;
  color: white;
}
.timeline-item{
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid rgb(100, 93, 93);
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  height: 175px;
  margin-top: 2px;
}
.tl-icon{
  color: black;
  position: absolute;
  left: -27px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
}
.tl-icon i{
  font-size: 1.3rem;
}
.tl-duration{
  padding: .2rem .5rem;
  background-color: rgb(53, 52, 52);
  border-radius: 15px;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.timeline-item h4{
  padding: .5rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.heading2{
  margin-top: 20px;
  margin-left: 100px;
  font-family: 'Oxygen', sans-serif;
  color: black;
  font-size: 40px;
}
.fourth{
  background-color: rgb(2, 2, 28);
  display: flex;
  height: 100vh;
}
.portfolios{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
  margin-top: 150px;
  margin-left: 200px;
}
.portfolio-item{
  height: 230px;
  border-radius: 15px;
  position: relative;
}
.portfolio-item img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid black;
}
.hover-item{
  width: 100%;
  height: 230px;
  background-color: rgb(117, 239, 170);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all .5s ease-in-out;
}
.hover-item h3{
  font-size: 20px;
  color: black;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-left: 5px;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}
.portfolio-item:hover .hover-item{
  opacity: 1;
  transform: scale(1);
}
.contactpage{
  margin-top: 40px;
}
.stat2-title2{
  color: black;
  margin-top: 70px;
  margin-left: 500px;
  height: 40px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 55px;
  position: absolute;
}
.overlay2{
  margin-top: 50px;
  margin-left: 430px;
  height: 30px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 85px;
  position: absolute;
  z-index: 0;
  color: rgb(78, 71, 71);
  opacity: 0.18;
}
.fifth{
  background-color: rgb(2, 2, 28);
  display: flex;
  height: 100vh;
  color: white;
  position: relative;
}
.touch{
  margin-left: 190px;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}
label{
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.details{
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  width: 500px;
  height: 60%;
  margin-left: 190px;
  font-size: 20px;
  position: absolute;
}
input[type=text], textarea{  
  font-family: 'Karla', sans-serif;
  width: 80%; 
  font-size: 20px;
  padding: 15px;
  border: 2px solid; 
  border-color: rgb(58, 122, 144); 
  background: #f1f1f1; 
}
input[name="message"], textarea{  
  font-family: 'Karla', sans-serif;
  width: 80%; 
  height: 150px;
  border: 2px solid; 
  border-color: rgb(58, 122, 144); 
  background: #f1f1f1; 
}
.registerbtn {  
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 20px;
  background-color: aquamarine;
  color: black;
  margin-top: 620px;
  margin-left: 280px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 35px;
  width: 170px;  
  border: 2px solid;  
  border-radius: 10px;
}
.right{
  background-color: beige;
  opacity: 0.5;
  position: absolute;
  margin-left: 61%;
  margin-top: 220px;
  height: 400px;
  width: 25%;
  text-align: center;
  border: 2px solid rgb(2, 2, 14);
  border-radius: 8px;
}
.right-contact{
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
   font-family: 'Oxygen', sans-serif;
  opacity: 1;
  font-family: 'Dancing Script', cursive;
  margin-top: 15px;
}
.mail{
  position: absolute;
  margin-top: 40px;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-left: 141px;
  opacity: 1;
  font-weight: bold;
}
.email2{
  position: absolute;
  opacity: 1;
  color: black;
  margin-top: 80px;
  margin-left: 90px;
  font-family: 'Karla', sans-serif;
}
.mailaddress{
  position: absolute;
  margin-top: 130px;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-left: 140px;
  opacity: 1;
  text-align: center;
  font-weight: bold;
}
.address2{
  position: absolute;
  opacity: 1;
  color: black;
  margin-top: 170px;
  margin-left: 70px;
  font-family: 'Karla', sans-serif;
}
.connect{
  position: absolute;
  margin-top: 230px;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-left: 95px;
  opacity: 1;
  text-align: center;
  font-weight: bold;
}
.connect-icons{
  color: black;
  margin-top: 270px;
  height: 40px;
}
.icons i{
  margin-top: 3px;
  color: rgb(4, 58, 76);
}
.footer{
  color: black;
  background-color: rgb(131, 127, 127);
  position: absolute;
  font-family: 'Karla', sans-serif;
  bottom: 0;
  z-index: 150;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 29px;
}